<div class="flex flex-col justify-center items-center">
  <mat-card>
    <mat-accordion>
      <ng-container *ngFor="let address of addresses">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ address.title }} </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex flex-col pl-4">
            <p>{{ address.street }}</p>
            <p>{{ address.zipCode }}</p>
            <p>{{ address.city }}</p>
            <p>{{ address.phone }}</p>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
    <div class="flex flex-row justify-center my-7">
      <button mat-raised-button color="primary" type="submit">Select</button>
    </div>
  </mat-card>
</div>
