@use '@angular/material' as mat;
@import '../pallete/green.scss';
@import '../pallete/yellow.scss';

$exai-host-primary: mat.define-palette($green-palette, 500, 400, 700);
$exai-host-accent: mat.define-palette($yellow-palette, 500, 300, 900);
$exai-host-warn: mat.define-palette(mat.$red-palette);

$exai-host-typography: mat.define-typography-config(
  $font-family: var(--base-font-family),
);

$exai-host-theme1: mat.define-light-theme(
  (
    color: (
      primary: $exai-host-primary,
      accent: $exai-host-accent,
      warn: $exai-host-warn,
    ),
    typography: $exai-host-typography,
  )
);
