<div class="content flex flex-col">
  <p>
    <mat-toolbar class="text-gray-200">
      <div class="flex items-center">
        <img src="assets/images/logo-full.svg" class="max-h-8 mx-3" alt="examroom-full-logo" />
        <button mat-icon-button (click)="drawer.toggle()" aria-label="menu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="flex-1"></div>
      <div class="flex items-center gap-1">
        <button mat-icon-button aria-label="accessibility">
          <mat-icon>accessibility_new</mat-icon>
        </button>
        <button mat-icon-button aria-label="settings">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button aria-label="notifications">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="w-7 h-7 flex flex-row items-center justify-center" aria-label="flags">
          <img src="https://cdn-icons-png.flaticon.com/512/330/330459.png" alt="flag" class="w-7 h-7" />
        </button>
        <button
          mat-mini-fab
          [matMenuTriggerFor]="menu"
          color="primary"
          class="w-7 h-7"
          aria-label="user-profile"
        >
          <div>AP</div>
        </button>
      </div>
    </mat-toolbar>
  </p>
  <mat-drawer-container class="flex-1" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="false">
      <p>
        <mat-nav-list role="list" class="p-2">
          <a
            *ngFor="let item of menuList"
            mat-list-item
            class="base-border-radius mt-1"
            role="listitem"
            [attr.aria-selected]="item?.key == selected?.key"
            (click)="selected = item"
            [routerLink]="item.link"
            routerLinkActive="active"
          >
            {{ item?.label ?? '- -' }}
          </a>
        </mat-nav-list>
      </p>
    </mat-drawer>

    <div class="flex flex-col min-h-full">
      <div class="flex-1 p-2">
        <router-outlet></router-outlet>
      </div>
      <p class="footer flex justify-center mb-2">
        <span> Copyright 2021 - 2022</span> &nbsp;
        <a href="https://examroom.ai/" target="_blank">ExamRoom.AI.</a> &nbsp;
        <span> All rights reserved.</span>
      </p>
    </div>
  </mat-drawer-container>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
