.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.mat-toolbar {
  color: unset !important;
}

.example-sidenav {
  min-width: 15rem;
}

.flex {
  display: flex;
}

.mat-list-item {
  color: var(--foreground);
  &:hover {
    cursor: pointer;
  }
  &:where([aria-selected='true']) {
    background-color: var(--primary) !important;
    color: var(--background) !important;
  }
}
