.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.material-icons {
  font-size: var(--base-fonts-size);
  width: var(--base-fonts-size);
  height: var(--base-fonts-size);
}

.footer {
  border-top: 1px solid #00000011;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
