<div class="content">
  <div class="grow">
    <router-outlet></router-outlet>
  </div>

  <div class="w-100 footer">
    <div class="flex gap-10 items-center text-gray mb-8">
      <span>Help Center</span>
      <span>Privacy Policy</span>
      <span class="flex items-center">
        <span class="material-icons mr-2"> language</span>
        <span class="material-icons ml-2"> expand_more </span>
      </span>
    </div>
    <span class="text-gray">© 2017 - 2022 ExamRoom.AI. All rights reserved</span>
  </div>
</div>
