input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

:root .mat-raised-button:not([class*='mat-elevation-z']) {
  box-shadow: none !important;
}

a {
  text-decoration: none;
  color: var(--primary);

  &:where(.a-discreet) {
    color: unset;
  }

  &:hover {
    color: var(--primary-900);
  }
}

.mat-input-element {
  color: var(--foreground) !important;
}

:root .mat-flat-button.mat-primary.mat-button-disabled,
:root .mat-flat-button.mat-accent.mat-button-disabled,
:root .mat-flat-button.mat-warn.mat-button-disabled,
:root .mat-flat-button.mat-button-disabled.mat-button-disabled,
:root .mat-raised-button.mat-primary.mat-button-disabled,
:root .mat-raised-button.mat-accent.mat-button-disabled,
:root .mat-raised-button.mat-warn.mat-button-disabled,
:root .mat-raised-button.mat-button-disabled.mat-button-disabled,
:root .mat-fab.mat-primary.mat-button-disabled,
:root .mat-fab.mat-accent.mat-button-disabled,
:root .mat-fab.mat-warn.mat-button-disabled,
:root .mat-fab.mat-button-disabled.mat-button-disabled,
:root .mat-mini-fab.mat-primary.mat-button-disabled,
:root .mat-mini-fab.mat-accent.mat-button-disabled,
:root .mat-mini-fab.mat-warn.mat-button-disabled,
:root .mat-mini-fab.mat-button-disabled.mat-button-disabled {
  background-color: var(--primary-A200) !important;
  color: var(--background) !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0em !important;
}

.base-border-radius {
  border-radius: var(--base-border-radius, 4px) !important;
}
