@use 'sass:map';
@use '@angular/material' as mat;

$mobile: 768;

@mixin mobile {
  @media only screen and (max-width: ($mobile * 1px)) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: ($mobile * 1px)) {
    @content;
  }
}

@mixin create-palette-variables($acron1, $intensity, $color) {
  --#{$acron1}-#{$intensity}: #{mat.get-color-from-palette($color, $intensity)};
  .#{$acron1}-#{$intensity} {
    color: var(--#{$acron1}-#{$intensity}) !important;
  }
  .bg-#{$acron1}-#{$intensity} {
    background-color: var(--#{$acron1}-#{$intensity}) !important;
  }
}

@mixin theme-colors($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $warn: map.get($color-config, 'warn');
  $_background: map.get($theme, background);
  $background-color: mat.get-color-from-palette($_background, background);

  --background: #{$background-color};
  --foreground: #{invert($background-color)};
  .app-background {
    color: var(--background) !important;
  }
  .bg-app-background {
    background-color: var(--background) !important;
  }
  .app-foreground {
    color: var(--foreground) !important;
  }
  .bg-app-foreground {
    background-color: var(--foreground) !important;
  }

  $types: (('primary', $primary), ('accent', $accent), ('warn', $warn));

  --primary: #{mat.get-color-from-palette($primary)};
  --primary-darker: #{mat.get-color-from-palette($primary, 900)};
  --accent: #{mat.get-color-from-palette($accent)};
  --accent-darker: #{mat.get-color-from-palette($accent, 900)};
  --warn: #{mat.get-color-from-palette($warn)};
  --warn-darker: #{mat.get-color-from-palette($warn, 900)};

  @each $acron, $color in $types {
    @include create-palette-variables($acron, 50, $color);
    @for $index from 1 through 9 {
      @include create-palette-variables($acron, $index * 100, $color);
    }

    $intensity-plus: 'A100', 'A200', 'A400', 'A700';
    @each $intensity in $intensity-plus {
      @include create-palette-variables($acron, $intensity, $color);
    }
  }
}
