@use '@angular/material' as mat;
@use 'sass:math';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme/theme1.scss';
@import './theme/theme1-dark.scss';
@import './function.scss';
@import './custom.scss';
@import './variables.scss';
@include mat.core();

html,
body {
  margin: 0;
  height: 100%;
  font-size: var(--base-fonts-size) !important;
  color: #7d7d7d !important;
  color-scheme: light dark;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--base-font-family) !important;
}

:root {
  @include mat.all-component-themes($exai-host-theme1);
  @include theme-colors($exai-host-theme1);
  font-family: var(--base-font-family) !important;
}
.theme-dark {
  @include mat.all-component-colors($exai-host-theme1-dark);
  @include theme-colors($exai-host-theme1-dark);
  font-family: var(--base-font-family) !important;
}

app-body {
  flex: 1 1 auto !important;
  display: flex;
  flex-direction: column;
}

// HTML loading
$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite, colors ($duration * 2) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: var(--primary);
  }
  25% {
    stroke: var(--primary);
  }
  50% {
    stroke: var(--primary);
  }
  75% {
    stroke: var(--accent);
  }
  100% {
    stroke: var(--accent);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: math.div($offset, 2);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}
