:root {
  --base-fonts-size: 1rem;
  --base-font-family: 'Open Sans', sans-serif;
  --base-border-radius: 4px;
  --base-background: var(--background, #fafafa);
  --base-background-dark: #fcfcfc;
  --base-gray: #a7a8ac;
}
