<form id="new-address-form" class="flex flex-col items-stretch">
  <mat-form-field>
    <mat-label>Shipping Address Name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Street</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Complement</mat-label>
    <input matInput />
  </mat-form-field>

  <div class="flex flex-row items-stretch gap-2">
    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>State</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput />
  </mat-form-field>

  <div class="flex flex-row justify-center mt-6">
    <button mat-raised-button color="primary" type="submit">Add</button>
  </div>
</form>
