<div class="content">
  <div class="w-100 bg-primary-50 my-5 flex justify-center align-center url-verification">
    <span class="material-icons lock text-primary mr-2"> lock </span>
    <span class="black font-medium">URL verification: https://examroom.ai/login/</span>
  </div>

  <div class="w-100 grow flex flex-col align-center justify-center">
    <div class="div-card flex flex-col align-center justify-between px-16">
      <div>
        <div class="flex justify-center mb-3">
          <img class="full-logo-size" src="assets/images/logo-full.svg" alt="exai-logo" />
        </div>

        <form [formGroup]="formGroup" class="w-75 flex flex-col" (submit)="onSubmit()">
          <mat-form-field appearance="outline" hideRequiredMarker class="mt-3">
            <mat-label>Username</mat-label>
            <input data-cy="username" matInput formControlName="username" />
            <span class="material-icons w-6 h-6" matSuffix> person_outline </span>
          </mat-form-field>

          <mat-form-field appearance="outline" hideRequiredMarker>
            <mat-label>Password</mat-label>
            <input
              data-cy="password"
              matInput
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
            />
            <span class="material-icons pointer" matSuffix (click)="showPassword = !showPassword">
              {{ showPassword ? 'visibility_off' : 'visibility' }}
            </span>
          </mat-form-field>

          <button
            data-cy="login"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="formGroup.invalid"
            class="p-2"
          >
            Login
          </button>

          <div class="flex justify-end mt-6 text-primary">
            <a href="#">Forgot Password?</a>
          </div>

          <div class="line mt-6 text-gray">or sign in with</div>

          <div class="sign-in-with flex justify-between mt-6">
            <img src="assets/icons/person.svg" alt="login" />
            <img src="assets/icons/fingerprint.svg" alt="login" />
            <img src="assets/icons/voice.svg" alt="login" />
            <img src="assets/icons/qrcode.svg" alt="login" />
          </div>
        </form>
      </div>

      <div class="flex justify-center text-gray">
        <a href="#" class="a-discreet">Don't have an account? Sign up</a>
      </div>
    </div>
  </div>
</div>
