.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  height: 2.25rem;
  width: 18.75rem;
}

.div-card {
  border: 1px solid #00000011;
  border-radius: var(--base-border-radius);
  width: 31.125rem;
  height: 36.9375rem;
  background-color: var(--base-background-dark);
  padding-top: 2.75rem;
  padding-bottom: 1.9rem;
  margin-bottom: 3rem;
}

.material-icons {
  $size: 1.5rem;
  font-size: $size;
  width: $size;
  height: $size;
  color: var(--base-gray);

  &.lock {
    color: var(--primary);
  }
}

.black {
  color: black;
}

.line {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
}

.line::before,
.line::after {
  content: '';
  border-top: 1px solid #00000011;
  align-self: center;
}

.sign-in-with {
  img:hover {
    cursor: pointer;
  }

  img {
    width: 3rem;
    height: 3rem;
  }
}

.full-logo-size {
  height: 3.13375rem;
  width: 16rem;
}

.url-verification {
  width: 100%;
  height: 2.3rem;
  display: flex;
  align-items: center;
  margin-top: 5.5rem;
  margin-bottom: 4rem;
}
