<div class="flex flex-col items-center justify-center">
  <div class="flex flex-col">
    <div class="mb-6">
      <h2>Please confirm your Shipping Address</h2>
      <p>You can select from your Examroom.AI account saved address.</p>
      <p>Alternatively, you can add a new Shipping Address</p>
    </div>

    <div class="flex flex-row gap-4">
      <div>
        <app-existing-addresses></app-existing-addresses>
      </div>
      <mat-card>
        <app-new-address></app-new-address>
      </mat-card>
    </div>
    <div class="flex flex-row justify-center my-6">
      <mat-checkbox>Save this as my default address</mat-checkbox>
    </div>
  </div>
</div>
